<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<section class="about-item about-edx">
    <h2 class="about-edx-title hd-4">Despre Finlearn</h2>

    <div class="about-edx-copy copy copy-meta">
        <p>Finlearn oferă cursuri online interactive și programe de tip MOOC (Massive Open Online Courses) - cursuri deschise, accesibile online, pentru un număr nelimitat de participanți, fără cerințe de admitere.</p>

        <a class="action" href="https://finlearn.ro/?utm_source=edx&utm_medium=certificates&utm_campaign=learn_more_about_company">${company_about_urltext}</a>
    </div>
</section>
