<%page expression_filter="h"/>
<section class="about-item about-accomplishments">
    <h2 class="about-title hd-4">Finlearn oferă cursuri online interactive și programe de tip MOOC (Massive Open Online Courses) - cursuri deschise, accesibile online, pentru un număr nelimitat de participanți, fără cerințe de admitere.</h2>

    <div class="about-copy copy copy-meta">
        <p>Finlearn recunoaște realizările cursanților prin certificate, acordate pentru activitățile finalizate în cadrul cursurilor.</p>
    </div>
</section>
