<%page expression_filter="h"/>
<div class="wrapper-footer">

    <footer class="footer-app" role="contentinfo" id="company-info">
        <div class="footer-app-copyright">
            <p class="copy copy-micro">${copyright_text | n, decode.utf8 }</p>
        </div>
        <nav class="footer-app-nav">
            <ul class="list list-legal">
                % if company_tos_url is not UNDEFINED:
                    <li class="nav-item">
                        <a class="action btn btn-small btn-link" href="https://finlearn.ro/termeni-si-conditii/">Termeni și condiții</a>
                    </li>
                % endif
                % if company_privacy_url is not UNDEFINED:
                    <li class="nav-item">
                        <a class="action btn btn-small btn-link" href="https://finlearn.ro/politica-de-confidentialitate/">Politică de confidențialitate</a>
                    </li>
                % endif
            </ul>
        </nav>
    </footer>

</div>
